.header {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.discover {
  display: flex;
  align-items: center;
  flex-direction: column;
  // font-family: $mainTypo;
  color: $text-secondary-color;
  h2 {
    text-align: center;
    margin-top: 15px;
    color: $nav-background;
    font-family: $lightTypo;
  }
  h3 {
    margin-top: 40px;
    text-align: center;
    font-family: $lightTypo;
  }
  p {
    margin: 5%;
    font-size: medium;
    font-family: black;
  }
}
